<center>

<form method="post" action="/update">
<h1>Edicion de Usuario</h1>

  <% if @error%>
    <h3 class="error"><%= @error %></h3>
  <% end %>

  <table>

  <tr>
    <td>  <label for="name">Nombre</label>  </td>
    <td>  <input id ="name" type="text" name="name" value="<%= @user.name%>">  </td>
  </tr>

  <tr>
    <td>  <label for="email">Correo</label> </td>
    <td>  <input id="email" type="email" name="email" value="<%= @user.email%>">  </td>
  </tr>

  <tr>
    <td>  <label for="pass">Contraseña</label>  </td>
    <td>  <input id="pass" type="password" name="password"> </td>
  </tr>

  </table>

  <input class="boton" type="submit" value="Guardar Edicion">
</form>
</center>
<br>
<hr>
<a href="/"><button class="boton">Regresar</button></a>