<br>
<h1>Bienvenido</h1>
<h1>Ya inicio sesión!</h1>
        <strong>Bienvenido <%= @user.name %></strong>
        <span style="margin-left: 319px"></span>
        <a href="/end_session"><button class="boton">
        Cerrar Sesion</button> </a>


  <hr>
  <br>
  <a href="/update"><button class="boton">Editar Cuenta</button></a>
  <span style="margin-left: 310px"></span>
  <a href="/delete"><button class="boton">Eliminar Cuenta</button></a>